<form [formGroup]="postForm">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <label for="userId">userId: </label>
        <input type="text" id="userId" formControlName="userId" class="form-control">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <label for="postId">postId: </label>
        <input type="text" id="postId" formControlName="id" class="form-control">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <label for="postTitle">postTitle: </label>
        <input type="text" id="postTitle" formControlName="title" class="form-control">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <label for="postBody">postBody: </label>
        <textarea id="postBody" rows="5" formControlName="body" class="form-control"></textarea>
      </div>
    </div>
  </div>
</form>
